<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.htsc.mapper.dao.UserMapper">
    <select id="getUserNameByUserId" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT name from user_info_t WHERE id = #{userId} limit 1
    </select>
</mapper>